<h2>Products in cart</h2>
<hr />
<table class="table table-bordered">
	<thead>
		<th>View</th>
		<th>Name of product</th>
		<th>Size</th>
		<th>Quantity</th>
		<th>Prise</th>
		<th>Total</th>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>