<h2>Thak you!</h2>
<p>
	Your order has been plased
</p>
<script type="text/javascript">
		$(function (){
		//тут может находиться любой javascript код
		//который выполнится после загрузки всей страницы
		window.localStorage.clear();
		});
	</script>